.restaurant-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow-carls);
}

.restaurant-header {
  height: 100px;
  width: 90%;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  position: fixed;
  top: 0;
}

.restaurant-logo {
  padding: 30px;
  height: 100px;
  width: auto;
}

.restaurant-firstMenu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.restaurant-secondMenu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.restaurant-firstMenu li {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--red-carls);
}

.restaurant-secondMenu li {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.restaurant-content {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
}

.restaurant-footer {
  width: 100%;
  height: 300px;
  background-color: var(--grey-carls);
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.footer-greyList {
  text-align: left;
  font-size: 1.2rem;
  list-style: none;
  font-weight: 600;
  color: #c4c4c4;
}

.footer-greyList li {
  margin: 10px 0;
}

.social-media-logo {
  width: 32px;
  height: 32px;
  margin: 40px;
}

.footer-second-greyList {
  text-align: left;
  list-style: none;
  font-weight: 600;
  color: #727272;
}

.footer-second-greyList li {
  margin: 10px 0;
}

.footer-rights {
  text-align: left;
  list-style: none;
  font-weight: 600;
  color: #727272;
}
